<app-navbar></app-navbar>

<div class="text-center m-3">
    <button type="button" class="btn btn-outline-success" 
      data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Servicio</button>
  </div>
  
  <div class="row justify-content-center px-4" *ngIf="services" >
    <div *ngFor="let service of services" class="card m-4" style="width: 18rem; ">
        <div class="card-body">
          <h4 class="card-title">{{ service.name }}</h4> 
          <h5 class="card-title">{{ service.description }}</h5> 

          <div class="text-center  ms-3">
            <button  (click)="getService(service._id)" class="btn btn-warning m-2" data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasExample" 
          aria-controls="offcanvasExample">
            Actualizar</button>
            <button (click)="deleteService(service._id)" class="btn btn-danger " >Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    
  
  <!--Agregar servicio-->>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo servicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addServiceForm="ngForm">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input [(ngModel)]="service.name " name= "name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"> Descripcion</label>
              <input [(ngModel)]="service.description " name= "name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="saveService(addServiceForm)" type="button" class="btn btn-primary" 
          data-bs-dismiss="modal">Guardar Servicio</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--  update-->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Actualizar Servicio</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
      <form class="form-inline text-center" (ngSubmit)="updateService()" *ngIf="serviceGetId">
        <div class="form-group mx-sm-3 mb-2">
          <label for="nameUpdate" class="form-label">Ingresar nuevo Nombre para el servicio</label>
          <input [(ngModel)]="serviceGetId.name " name="name" type="text" class="form-control" id="nameUpdate" placeholder="">
        
          <label for="nameUpdate" class="form-label">Ingresar nueva descripcion</label>
          <input [(ngModel)]="serviceGetId.description " name="description" type="text" class="form-control" id="descriptionUpdate" placeholder="">

        </div>
        <button type="submit" class="btn btn-primary mb-2" data-bs-dismiss="offcanvas">Guardar</button>
      </form> 
  
    </div>
  </div>