<body>
<app-navbar></app-navbar>
<br>
<br>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    <div class="logo">
        <img src="https://cdn.pixabay.com/photo/2015/12/11/18/21/quetzal-1088589_1280.png" width="200px" alt="" >
    </div>
    <div class="login-block">
        <form  #loginForm="ngForm" (ngSubmit)="login()">
        <h1>Login</h1>
        <input [(ngModel)]="user.username" #username="ngModel" type="text" class="form-control" name="name" id="username" placeholder="Username"  />
        <input [(ngModel)]="user.password" #password="ngModel" type="password" class="form-control" name="password" id="password" placeholder="Password"  />
        <button    type="submit">Iniciar sesión</button>
    </form>
        <div class="row mt-5">
            <div class="col-12 links text-center">
                <div>
                    <a routerLink="/register">Crear cuenta</a>
                </div>                        
            </div>
        </div>
    </div>
    <br>
  


</body>