<body>
  <app-navbar></app-navbar>
  <br>

<!--Table View Tour -->

<div class="m-4">
  <table class="table table-dark">
      <thead>
          <tr>
              <th scope="col" class="text-center">Factura</th>
              <th scope="col" class="text-center">NIT</th>
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center">Tour</th>
              <th scope="col" class="text-center">Cantidad</th>
              <th scope="col" class="text-center">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let invoice of invoices">
              <td class="text-center">{{invoice.numberInvoice}}</td>
              <td class="text-center">{{ invoice.NIT}}</td>
              <td class="text-center">{{invoice.name}}</td>
              <td class="text-center">Tour</td>
              <td class="text-center" >{{ invoice.tours}} </td>
              <td class="text-center">{{invoice.total | currency: 'Q' }}</td>

          </tr>
      </tbody>
  </table>
</div>


</body>