
<app-navbar></app-navbar>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
   <div class="col-md-12">
      <div class="invoice">
         
         <div class="card">
            <div class="card-body" >
              <div class="container mb-5 mt-3">
                <div class="row d-flex align-items-baseline">
                  <div class="col-xl-9" *ngIf="invoiceId">
                    <p style="color: #7e8d9f;font-size: 20px;">FACTURA >> <strong>serial: {{invoiceId.serial}}</strong></p>
                  </div>
                  <div class="invoice-company text-inverse f-w-600">
                     <span class="pull-right hidden-print">
                     <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
                     </span>
                  </div>
                  <hr>
                </div>
          
                <div class="container">
                  <div class="col-md-12">
                    <div class="text-center">
                      <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                      <p class="pt-0">Adventure Tour GT</p>
                    </div>
          
                  </div>
          
          
                  <div class="row">
                    <div class="col-xl-8" *ngIf="invoiceTour">
                      <ul class="list-unstyled">
                        <li class="text-muted">Nombre: <span style="color:#5d9fc5 ;">{{invoiceTour.name}}</span></li>
                        NIT: {{invoiceId.NIT}}<br>
                      </ul>
                    </div>
                    <div class="col-xl-4" *ngIf="invoiceId">
                      <p class="text-muted">Factura</p>
                      <ul class="list-unstyled">
                        <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                            class="fw-bold">serial:</span>{{invoiceId.serial}}</li>
                        <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                            class="fw-bold">Fecha: </span>{{invoiceId.date}}</li>
                        <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                            class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                            Unpaid</span></li>
                      </ul>
                    </div>
                  </div>
          
                  <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                      <thead style="background-color:#84B0CA ;" class="text-white">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Tour</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr >
                          <th scope="row">1</th>
                          <td>4</td>
                          <td *ngIf="shoppingCart">{{shoppingCart.tours}}</td>
                          <td>$200</td>

                        </tr>
                      </tbody>
          
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-xl-8">
          
                    </div>
                    <div class="col-xl-3"  *ngIf="shoppingCart">
                      <ul class="list-unstyled">
                        <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>Q{{shoppingCart.SubTotal}}.00</li>
                        <li class="text-muted ms-3 mt-2"><span class="text-black me-4">IVA(12%)</span>$111</li>
                      </ul>
                      <p class="text-black float-start"><span class="text-black me-3"> Total </span><span
                          style="font-size: 25px;">Q{{shoppingCart.total}}.00</span></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-10">
                      <p>Thank you for your purchase</p>
                    </div>
                    <div class="col-xl-2">
                      <button type="button" class="btn btn-primary text-capitalize"
                        style="background-color:#60bdf3 ;">Pay Now</button>
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
          </div>
